# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# License header
file_header_template = Copyright (c) Affectionate Dove <contact@affectionatedove.com>.\nLicensed under the Affectionate Dove Limited Code Review License.\nSee the LICENSE file in the repository root for full license text.
dotnet_diagnostic.IDE0073.severity = warning

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# Expression-bodied members
csharp_style_expression_bodied_accessors = when_on_single_line:suggestion
csharp_style_expression_bodied_constructors = when_on_single_line:suggestion
csharp_style_expression_bodied_indexers = when_on_single_line:suggestion
csharp_style_expression_bodied_lambdas = when_on_single_line:suggestion
csharp_style_expression_bodied_local_functions = when_on_single_line:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:warning
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion

# New line preferences
end_of_line = crlf
insert_final_newline = false

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# IDE0011: Add braces
csharp_prefer_braces = false:warning

# IDE0040: Require accessibility modifier
# dotnet_style_require_accessibility_modifiers = always
dotnet_diagnostic.IDE0040.severity = warning