name: PR auto-assignment

# When the workflow will run
on:
  # Triggers the workflow on opened pull requests
  pull_request:
    types: [opened]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
    - name: Assign author and maintainers
      uses: HoutarouOreki/auto-assign-prs@main
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        reviewers: HoutarouOreki
